body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height:  1.5;
}

h1 {
    text-transform: uppercase;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

.minha-foto, .navegacao-site {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.minha-foto{
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site {
    width: 15%;
    position: relative;
    top: 310px;
}

p {
    text-align: justify;
    margin: 20px;   
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}

.subtitulo-texto {
    clear: both;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}

.icones-redes-sociais li{
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

main a {
    color: #851944;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}