body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height:  1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border: 10px solid black;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

p {
    text-align: justify;
    margin: 20px;   
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}


blockquote {
    background-color: #D9E5E3;
    padding: 20px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside li{
    display: inline-block;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}